@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.profile-controls{
    align-items: start;
}

@media screen and (max-width: 768px) {
    .profile-controls{
        align-items: center;
    }
}
